extends layout

block content
 h1= title
 p rows:#{query.rows} , columns:#{query.cols}
 - var rows=Number(query.rows)
 - var cols=Number(query.cols)
 if !(Number.isInteger(rows)) ||  !(Number.isInteger(cols))
  p given parameter values are not integers 
 else if rows > 4
  p rows value should be less than 4
 else if cols > 4
  p cols value should be less than 4
 else
  table#outer
   - for(let i=0; i<rows; i++) {
    tr#middle
     - for(let j=0; j<cols; j++) {
      td= i+j
     -}
   -}



  
   